.btn{
    text-align: center;
    width: 17%;
    display:inline-block;
    padding: 1rem 2.8rem;
    background:#16ff00 ;
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: #000;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
    
}

.btn:hover{
    box-shadow: 0 0 1.6rem #16ff00;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    gap:2rem;
    background: #111;
    padding: 10rem 9% 2rem;
}

.about-img img{
    /* height: 400px; */
    width: 20vw;
    height: 60vh;
    border: 3px solid #ff0060;
    border-radius: 10px;
}

.about-img img:hover{

    box-shadow: 0 0 1.6rem #ff0060;
    transition: 0.5s ease;
}

.heading{
    text-align: center;
    font-size: 4.5rem;

}

.about-content{
    display: flex;
    justify-content: left;
    flex-direction: column;
    /* align-items:center;
    text-align: center; */
    padding: 0 4rem;

}

.about-content h2{
    text-align: left;
}

.about-content h3{
    text-align: left;
    font-size: 3.2rem;
    font-weight: 700;
}

.about-content p{
    text-align: left;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* ..........for scrollbar........... */

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-thumb{
   background-color:  #16ff00;
    width: 50px;
}


/* ..............service section............... */

.service h2 {
    margin-bottom: 5rem;
}

.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.service-container .service-box {
    width: 30%; /* Set initial width */
    min-width: 250px; /* Set minimum width */
    text-align: center;
    align-items: center;
    background: #111;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    border: 0.2rem solid #111;
    transition: 0.5s ease;
}

.service-container .service-box:hover {
    border-color: #16ff00;
    transform: scale(1.02);
}

.service-box .para {
    font-size: 7rem;
    color: #16ff00;
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.btn1 {
    width: 40%;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #16ff00;
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: #000;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn1:hover {
    box-shadow: 0 0 1.6rem #16ff00;
}

/* Responsive Design */

@media (max-width: 991px) {
    .service {
        padding: 7rem;
    }

    .header {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .about-content .btn {
        width: 55%;
    }

    .about-content h3 {
        font-size: 2.6rem;
    }

    .about-content h1 {
        font-size: 5rem;
    }

    .about-content {
        order: 2;
    }

    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }

    /* Service */
    .service h2 {
        margin-bottom: 3rem;
    }

    .service-container .service-box {
        width: calc(33.33% - 20px); /* Adjust width for smaller screens */
    }

    .service-box .btn1 {
        width: 70%;
    }
}



@media (max-width: 768px) and (min-width: 415px) {
    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}